<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>404-page</title>
        <style>

        </style>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
        <p>{{errorMessage}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>