<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/app.js"></script>
        <title>About</title>
        <style>

        </style>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="images/link.jpg">
        </div>
        {{!-- <p>Created by {{name}} </p> --}}
        {{>footer}}
    </body>
</html>